* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* common use */
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.bg-color {
  background-color: rgb(245, 248, 255);
}
.common-color {
  color: #e95a08;
}
.btn {
  background-color: #e95a08;
}

/* nav style */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 50px;
}

/* Fresh style */

.fresh-section {
  margin-bottom: 120px;
}

.fresh-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fresh-left {
  margin-right: 100px;
}
.fresh-left h1 {
  font-size: 50px;
  font-weight: bold;
  margin-right: -100px;
}
.fresh-left p {
  font-size: 22px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: -40px;
  padding-top: 30px;
  margin-right: -60px;
}
.fresh-right img {
  margin-top: 280px;
  margin-top: 50px;
  margin-bottom: -880px;
}

/* Plant style */

.plants-section {
}
.plants-header h1 {
  font-size: 45px;
  font-weight: bold;
}
.plants-header {
  text-align: center;
  margin-bottom: 20px;
}
.plants-header p {
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 100px 0px 100px;
}

/* Card style */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  row-gap: 30px;
}

/* .card {
  /* border: 2px solid red; */
.card h1 {
  text-align: center;
  margin-top: 10px;
  color: #111111;
  font-size: 22px;
  font-weight: 700;
}
.card p {
  text-align: center;
  margin-top: 5px;
  color: #111111;
  font-size: 22px;
  font-weight: 900;
}
.card .btn {
  text-align: center;
  /* margin-left: 70px; */
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 350px;
  margin-top: 20px;
}

/* flower lover section */

.flower-lover-section {
  margin-top: 200px;
}
.lover-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  /* border: 2px solid red; */
}
.lover-title {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
.lover-left {
  width: 100%;
  height: 100%;
  position: relative;
  /* max-width: 100%; */
}
.badge {
  position: absolute;
  right: -120px;
  top: -150px;
  width: 300px;
  height: 300px;
  animation: spin 0.1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lover-right li {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  list-style: disc;
}
/* join section */
.join-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;

  height: 400px;
  width: 100%;
  margin-top: 50px;

  /* background-image: url("assets/news-letter-bg.png"); */
}
.join-container {
  text-align: center;

  padding: 150px;
}
.join-input {
  background-color: white;
  width: 550px;
  height: 30px;
  padding: 20px;
}
.join-btn {
  width: 150px;
  height: 40px;
  margin-left: -5px;
  background-color: #e95a08;
  color: white;
}
.footer-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px 20px;
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.footer-contain li {
  margin-top: 30px;
}
.child-first p {
  margin-top: 20px;
  margin-right: -20px;
  font-size: 22px;
  font-weight: 400;
}

.footer-section {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 50px;
}
#style {
  margin-left: 60px;
}

/* latest */

.latest-header {
  margin-top: 110px;
  padding: 0 200px;
}
.left-first {
  background-image: url("../assets/deal-bloom.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 14px;
}
.left-second {
  background-image: url("../assets/deal-ana.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 350px;
  height: 50%;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-right {
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 600px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-right h1 {
  font-size: 40px;
  font-weight: bold;
}
.image-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.latest-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 100%; */
  height: 400px;
  margin-top: 120px;
  margin-bottom: 120px;
  /* border: 2px solid red; */
}
.image-color {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 556px) {
  .nav-container .hide-display {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
  }
  .fresh-left {
    margin-left: 20px;
  }
  .fresh-container {
    display: flex;

    flex-direction: column-reverse;
  }
  .fresh-right img {
    margin-top: -100px;
    margin-bottom: 20px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .plants-header p {
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
  }
  .lover-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .lover-left {
    margin-top: -100px;
  }
  .lover-right {
    padding: 20px;
    margin-top: -60px;
  }
  .lover-right li {
    /* padding-left: 30px; */
    margin-left: 20px;
  }
  .join-section {
    height: 350px;
    width: 100%;
  }
  .join-container {
    padding: 0px;
    text-align: none;
    padding-top: 70px;
    margin-top: 50px;
  }
  .join-title {
    font-size: 20px;
    font-weight: bold;
  }
  .join-input {
    width: 200px;
    height: 50px;
  }
  .join-btn {
    width: 100px;
    height: 50px;
  }
  .join-input-button {
    margin-top: 30px;
  }
  .footer-contain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .latest-container {
    display: flex;
    flex-direction: column;
  }
  .image-left {
    width: 500px;
  }
  .left-first {
    background-image: url("../assets/deal-bloom.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 350px; */
    border-radius: 14px;
  }
  .left-second {
    background-image: url("../assets/deal-ana.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 200px;
    border-radius: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-right {
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 420px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* margin-bottom: 200px; */
  }
  /* .image-right h1 {
    font-size: 40px;
    font-weight: bold;
  } */
  /* .image-right h1 a {
    margin-left: 2px;
    margin-left: 0px;
  } */
  .latest-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* width: 100%; */
    height: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    /* border: 2px solid red; */
  }
  .image-right h1 {
    margin-left: 0px;
  }
  .latest-header p {
    padding-left: 20px;
  }
  .latest-header {
    margin-top: 110px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .join-container {
    padding: 0px;
    text-align: none;
    padding-top: 70px;
    margin-top: 300px;
  } */
}
