@import "tailwindcss";

/* .join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;

  height: 400px;
  width: 100%;

  /* background-image: url("assets/news-letter-bg.png"); */
/* }
.join-container {
  text-align: center;

  padding: 150px;
}
.join-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.join-input {
  background-color: white;
  width: 550px;
  height: 30px;
  padding: 20px;
}
.join-btn {
  width: 150px;
  height: 40px;
  margin-left: -5px;
  background-color: #e95a08;
  color: white;
} */ */
